body {
  margin: 0, auto;
  font-family: 'Helvetica', sans-serif;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
  padding-bottom: 10px;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header ul {
  font-size: 18px;
  list-style-type: none;
}

.header ul li a {
  color: white;
}

.Section1 {
  text-align: center;
}

.Section1 h2{
  font-size: 32px;
  font-weight: bold;
}

.Section1 h3{
  font-size: 23px;
  font-weight: bold;
}

.Section2 {
  text-align: center;
}

.Section2 h2{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.Section2 h2{
  font-size: 23px;
  font-weight: bold;
}

.footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.footer ul{
  font-size: 18px;
  list-style-type: none;
}

.footer ul li{
  display: inline;
}

.footer ul li a {
  color: white;
}
